aiohttp==3.9.3
asgi_lifespan==2.1.0
beanie==1.26.0
certifi==2024.2.2
chromadb
fastapi==0.111.0
googlemaps
httpx==0.27.0
langchain==0.1.17
langchain_community==0.0.37
langchain_core==0.1.52
langchain_mistralai==0.1.6
mlxtend==0.23.1
mongoengine==0.27.0
mongomock_motor==0.0.21
networkx==3.3
numpy==1.26.4
pandas==2.2.2
passlib==1.7.4
Pillow==10.3.0
pydantic==2.7.1
pydantic_settings==2.2.1
PyJWT==2.8.0
PyJWT==2.8.0
pymongo==4.5.0
pytest==7.4.2
python-dotenv==1.0.1
reactpy==1.0.2
redis==5.0.4
Requests==2.31.0
sentence_transformers==2.7.0
setuptools==69.5.1
streamlit==1.34.0
textdistance==4.6.2
uvicorn
